.card__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 3px -0.5px rgba(154, 154, 154, 0.55);
  border-radius: 0.2rem;
  background-color: #fff;
  cursor: pointer;
  position: relative;

  p {
    margin: 0;
    color: #484848;
    font-size: 0.875rem;
    padding: 0.5rem;
    user-select: none;
  }

  input {
    margin: 0.2rem;
  }

  .edit {
    cursor: pointer;
  }

  &:not(:nth-last-of-type(1)) {
    margin-top: 0.6rem;
  }
  button {
    margin-right: 0.2rem;
    display: inline-block;
  }

  .card__actions {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 5;
    background-color: #fff;
  }

  &:hover {
    .card__actions {
      opacity: 1;
      visibility: visible;
    }
  }
}
