.header {
  margin-bottom: 1rem;
  h4 {
    margin: 0;
  }
}

.add__card {
  margin-top: 1.5rem;
  .add_item {
    span {
      display: flex;
      align-items: center;
      cursor: pointer;
      flex: 1;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
